@import url(https://fonts.googleapis.com/css?family=Lato:300,400,900);

.button-wrap {
  position: relative;
  top: 50%;
}

div#edit-scope-wrapper .button-label {
  display: inline-block;
  padding: 1em 0.5em;
  text-align: center;
  margin: 0.5em;
  cursor: pointer;
  color: #292929;
  border-radius: 0.25em;
  background: #efefef;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
  transition: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

div#edit-scope-wrapper .button-label h1 {
  font-size: 1.3em;
  margin: 0;
}

div#edit-scope-wrapper .button-label:hover {
  background: #d6d6d6;
  color: #101010;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.32);
}
div#edit-scope-wrapper .button-label:active {
  transform: translateY(2px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0px -1px 0 rgba(0, 0, 0, 0.22);
}
@media (max-width: 40em) {
  div#edit-scope-wrapper  label.button-label {
    padding: 0em 1em 3px;
    margin: 0.25em;
  }
}

/* size of the icon */
div#edit-scope-wrapper .button-label:before{
  line-height: 30px;
}
/* Checked box colors */
div#edit-scope-wrapper input:checked + .button-label {
  background: #4183D7;
  color: #efefef;
}
/* Checked box hover colors */
div#edit-scope-wrapper input:checked + .button-label:hover {
  background: #2c75d2;
  color: #e2e2e2;
}

.hidden {
  display: none;
}