/* @todo idea: color the views rows according to scope */
div.view div.expired {
  background-image: url('');
}
div.view div.extant {
  background-image: url('');
}
#views-exposed-form-smallads-directory-page-offer div select {
  clear: both;
}
#views-exposed-form-smallads-directory-page-offer div.form-item {
  float: left;
}

/* View a smallad */
article.smallad--view-mode-listing {
  clear: both;
  margin: 1em;
  display: inline-block;
  width: 100%;
}

article.smallad--view-mode-full div.field--name-image div.field__item {
  float:right;
  padding-left:0.5em;
}

article.smallad--view-mode-full div.field--name-external-link {
  clear:left;
}

article.smallad ul.links {
  float: right;
}
article a.smallad-contact {
  display: inline-block;
  border: thin solid black;
  text-align: center;
  padding: 0.2em;
}

article.smallad--view-mode-listing h3 {
  clear: none;
}
article.smallad--view-mode-listing img {
  float: left;
  margin-right: 1em;
}

/* Note these are bound to the view name */
#views-exposed-form-smallads-directory-page-list div.js-form-item-combine,
#views-exposed-form-smallads-directory-page-list div.form-item-category,
#views-exposed-form-smallads-directory-page-list div.form-actions {
  display: inline-block;
}

/* This is a clearfix because we can't add that class on the form exposed label in a form_alter*/
#views-exposed-form-smallads-directory-page-list div.js-form-item-combine label:after,
#views-exposed-form-smallads-directory-page-list div.form-item-category label:after {
  content: "";
  display: table;
  clear: both;
}
/** chosen provides its own border */
div#edit_categories_chosen,
input#edit-categories.shs-enabled,
div.shs-widget-container>input, 
div.shs-widget-container>button {
  display: none;
}