{#

#}

{{ attach_library('smallads/scope-widget') }}
<label class="label">{{ 'How widely should this be published?'|t }}</label>
<div class="container">
  <div class="button-wrap">
    {% for option in options %}
    <input class="hidden radio-label" type="radio" name="scope" id="{{ option.id }}" value="{{ option.value }}"{% if option.checked %} checked="checked"{% endif %} />
    <label class="button-label" for="{{ option.id }}" style="width:{{ option.width }};" title = "{{ option.description }}">
      {{ option.icon }}<br />
      {{ option.label }}
    </label>
    {% endfor %}
  </div>
</div>


