{#
  Default theme implementation for scope, showing a megaphone with degrees of loudness
  The 'chars' variable would enable us to scale the title so that the longest title ij the set fills the width
#}
{% if scope == 0 %} {% set angle = 45 %}{% elseif scope == 1 %}{% set angle = 0 %}{% else %}{% set angle = -15 %}{% endif %}
<span title="{{ description }}">
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <svg version="1.1" viewBox="-5 -20 124 110" attribution="Sentya Irma on the thenounproject.org" width="124" height="90" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
      <g id="megaphone" transform="rotate({{ angle }},48,33)">>
        <path d="m 7,28 c 0,1.293 1.0508,2.3438 2.3438,2.3438 h 11.359 c 3.0781,-0.05078 3.082,-4.6367 0,-4.6875 h -11.359 c -1.293,0 -2.3438,1.0508 -2.3438,2.3438 z"/>
        <path d="m 21,35 h -11 c -3.0781,0.05078 -3.082,4.6367 0,4.6875 h 11.359 c 3.0781,-0.05078 3.082,-4.6367 0,-4.6875 " />
        <path d="m 65.679688,-8.490234 c -2.450987,3.86e-4 -4.906307,1.154565 -6.207032,3.349609 -9.0977,14.414 -26.129437,21.457375 -28.773437,22.484375 H 11.851562 c -8.480499,0 -15.378906,6.898306 -15.378906,15.378906 0,6.7969 4.438,12.56575 10.5625,14.59375 V 49.8125 C 7.09375,52 6.66411,55.136725 9.5,55.265625 c 1.3711,0.0078 2.468838,-1.191389 2.335938,-2.554687 C 11.691408,51.453136 11.72656,49.50395 11.71875,48.09375 l 8.609375,0.0078 V 51.5 c -0.29688,8.4961 6.039006,16.551063 13.128906,17.539062 1.6211,0.257813 1.523399,2.785163 -0.175781,2.789063 H 21.341797 c -1.4922,0 -2.871063,-0.675755 -3.789063,-1.859375 -1.6875,-2.1211 -3.269475,-5.558563 -4.109375,-8.351562 -0.93359,-2.9336 -5.335875,-1.601615 -4.484375,1.359374 1.9922,5.9375 5.183413,13.598078 12.382813,13.539058 H 33.28125 c 3.3359,0 6.046875,-2.71477 6.046875,-6.04687 0,-2.9727 -2.117225,-5.511656 -5.015625,-6.035156 -2.8164,-0.53516 -5.14065,-2.121056 -6.90625,-4.722656 -2.3086,-3.070302 -2.546925,-7.703474 -2.390625,-11.609376 h 5.699219 c 2.707,1.0547 19.679906,8.099216 28.753906,22.478516 3.7852,6.121102 13.593719,3.26175 13.511719,-3.96875 0.126137,-12.70741 0.0038,-18.883241 0.0038,-30.111328 -0.05469,-3.0859 -4.6328,-3.0781 -4.6875,0 v 30.109375 c 0.05859,2.5625 -3.511681,3.65615 -4.863281,1.46875 -9.125,-14.453 -24.940844,-21.858781 -29.964844,-23.925781 V 21.289062 c 5.0234,-2.0703 20.843844,-9.476381 29.964844,-23.925781 1.3359,-2.0781 4.933581,-1.12505 4.863281,1.46875 v 28.296875 c 0.05078,3.082 4.6367,3.0781 4.6875,0 0.109975,-10.729022 -3e-6,-14.639816 -3e-6,-28.296875 0,-1.957 -0.765645,-3.800781 -2.140625,-5.175781 -1.353538,-1.449219 -3.257745,-2.146785 -5.164062,-2.146484 z M 11.847656,22.03125 H 28.78125 V 43.414062 H 11.847656 c -14.16,-0.535156 -14.164,-20.847812 0,-21.382812 z" />
      {% if scope > 1 %}
      <path style="fill:none;stroke:#000000;stroke-width:5;" d="M 72.028002,12.577711 A 14.65637,21.644228 0.166101 0 1 86.621664,34.124839 14.65637,21.644228 0.166101 0 1 72.09143,55.864735" />
      {% endif %}
      {% if scope > 2 %}
      <path style="fill:none;stroke:#000000;stroke-width:5;" d="M 81.581129,3.638832 A 23.200493,31.226994 0.22026542 0 1 99.1173,33.794487 23.200493,31.226994 0.22026542 0 1 81.684022,64.166938" />
       {% endif %}
      {% if scope > 3 %}
      <path style="fill:none;stroke:#000000;stroke-width:5;" d="M 93.04128,-3.437232 A 34.167388,41.190196 0.35321475 0 1 112.45141,33.707742 34.167388,41.190196 0.35321475 0 1 92.96717,70.905063" />
       {% endif %}
      </g>
    </svg>
<span>